<%- include("partials/header") %>

<div class= "container">
	<div class="jumbotron">
		<blockquote class="blockquote text-center">
		<h1 class="mb-0" class="display-4" id="jum">Expensio</h1>
		<footer class="blockquote-footer text-right">Designed by <cite title="vikalp khandelwal">vikalp khandelwal</cite></footer>
	</blockquote>
	<hr class="my-4">
	<p class="lead d-none d-md-block text-center">
		A creative and easy online platform to store the data of your daily expenses. 
	</p>
	</div>
</div>

<div class="continer">
	<div class="row">
		<div class="col-lg-6 col-md-12">
			<p class="for">
				ABOUT THE WEBSITE
			</p>
			<hr class="m1">
			<p class="siz">
				<strong>
				Expensio is here. This website is exclusive designed to securly store your daily expenses data online. Here you can add, edit and delete your expenses. Only you can access your expenses. So, create your account, check the features and share your experiences with us . for any queries keep us posted. 
				</strong>
			</p>
		</div>
		<div class="col-lg-6 col-md-12">
			<p class="for">
				ABOUT THE WEB DESIGNER
			</p>
			<hr class="m2">
			<p class="siz">
				<strong>
				Vikalp khandelwal is a 2nd year ECE student of Birla institute of technology mesra, jaipur campus. He is passionate and dedicated about his work. He recently learnt web designing from scratch. In a short period of time, he designed his first website "Expensio" to store the data of your daily expenses.
				</strong>
			</p>
		</div>
	</div>
	
</div>

<%- include("partials/footer") %>