<%- include("./partials/header") %>

<div class="fix3">
	<div class= "container">
		<div class="jumbotron">
			<blockquote class="blockquote text-center">
			<h1 class="mb-0" class="display-4 "id="ts">Expensio</h1>
			<footer class="blockquote-footer text-right">Designed by <cite title="vikalp khandelwal">vikalp khandelwal</cite></footer>
			</blockquote>
			<hr class="my-4">
			<p class="lead d-none d-md-block text-center">
				A creative and easy online platform to store the data of your daily expenses.  
			</p>
		</div>
	</div>

	<div class="container">
		<a href="/register" class="btn btn-default btn-lg" id="fix1">Create New Account</a>
		<a href="/login" class="btn btn-default btn-lg" id="fix2">Log In</a>
	</div>
</div>


<%- include("./partials/footer") %>